<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meus empréstimos</ion-title>
    <!--<ion-buttons end>
      <button ion-button icon-only (click)="newProduct()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    -->
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-lending-list">

  <div *ngIf="showSpinner" text-center>
    <ion-spinner ></ion-spinner>
  </div>
  
  <ion-list >    
    <ion-card ion-item margin-bottom="2px"  *ngFor="let item of items" (click)="itemTapped($event, item)">      
      <ion-card-content>
         <ion-card-title>           
           {{item.rent.product.name}}          
        </ion-card-title>
         <p>
            <span class="{{item.rent.status}}">[{{(item.rent.status === "pending" ? 
                                  "Pendente": 
                                  (item.rent.status === "aproved"? "Aprovado": "Rejeitado")
                                )}}]</span> - {{item.rent.days}} dias - R$ {{item.rent.total_value}}                   
         </p>
      </ion-card-content>
      
    </ion-card>
  </ion-list>

</ion-content>
