// http://ionicframework.com/docs/v2/theming/

.rent-status{display: block; padding: 10px;}
.pending{background-color: #FFC107}
.aproved{background-color: #4CAF50; color: white}
.rejected{background-color:#F44336; color:white}